  <h1>About us</h1>

<div class="about_us">
  <p>We are small kitchen with well estabilished 5 strong crew</p>
  <p>Over past 10 years of cooking this one soup over and over again, we became masters at it</p>
  <p>Come and taste it for yourselves, if you don't like it, you got your money back double</P>
</div>
