<div class="contact_page">
    <h1>Contact</h1>
  <div class="contact_info">
    <p>You can place your order at any time, our lines are open 24 / 7</p>
    <h2>&phone; 202-456-1111 </h2>
  </div>
</div>
