
  <p> Welcome! the date and time is <%= Time.now %></p>

  <%= image_tag("mulli.jpg", size: "200x150", class: "img-responsive soup-image") %>

  <h1>Welcome to Mulligatawny Soup experts</h1>
  <h2>Although we make only one dish, we pushed it to perfection</h2>
