

<h1>Welcome to Mulligatawny Soup experts</h1>
<div class="col-1 col-sm-1 col-md-2 col-lg-1 test_col"></div>
<%= image_tag("mulli.jpg", size: "400x300", class: "img-responsive soup-image col-12 col-sm-10 col-md-6 col-lg-4") %>


<br>
<br>
<h2>Although we make only one dish, we pushed it to perfection</h2>

<p> the date and time is <%= Time.now %></p>
