<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>little sidebar</h3>
    </div>
    <div class="col-xs-9">
      <% @orders.each do |order| %>
        <div class="col-sm">
          <h1>
            Order # <%= order.id %>
            <%= link_to order.umbrella.name, order %>
          </h1>
          <p><%= order.umbrella.description %></p>
          <strong>£ <%= order.umbrella.price %></strong>
        </div>
      <% end %>
    </div>
  </div>
</div>
