<div class="container">
  <h2>Order Information</h2>
  <strong>Order ID: </strong><%= @order.id %>
  <strong>Product Name: </strong><%= @order.umbrella.name %>
  <strong>Product Price: </strong><%= number_to_currency(@order.umbrella.price.to_f) %>
  <strong>Total Price: </strong><%= number_to_currency(@order.total.to_f) %>
</div>
