// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 { color: #815B28 }
html { background-color: Gainsboro }

.tot { width: 95%}
.navbar {
  color: #562f13;
  background: #815B28;
  width: 100%;
  font-family: orbitron, monda, arial, sans-serif;
  font-size: 1.25em;
}

.nav-link, .navbar-brand {
  color: #fffdd0 ;
  transition: .50s;
}

.nav-link:hover, .navbar-brand:hover {
  color: gold;
}

ul li:nth-of-type(3) { margin-right: 2em }

footer {
  background: linear-gradient(white, #815B28);
}

.copyright { margin-top: -35px; }

#empty-space { height:  400px; }
