// Place all the styles related to the umbrellas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  text-align: center;
  border-radius: 10px;
  font-family: poiret one, arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

// .2nd-umbrella {
//   background-color: black;
// }

.row:nth-of-type(2) div {
  background-color: green;
}

.osel {
  background-color: red;
}
