// Place all the styles related to the umbrellas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  text-align: center;
  border-radius: 10px;
  font-family: poiret one, arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

button {
  background-image: url("https://c.pxhere.com/photos/42/58/rain_raindrops_rainy_water_wet_window-932939.jpg!d");
}

#rain_button {
  color: red !important;
}
